body {
    background-image: url("https://wallpapertag.com/wallpaper/full/e/3/f/267749-free-background-images-1920x1200-hd-1080p.jpg");
}

.container{
    padding-top:10px;
}

header {
    width:700px;
    height: 180px;
    text-align:center;
    margin:0 auto;
    box-sizing: border-box;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 105px;
    color:black;
}

h3 {
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    color:whitesmoke;
}

.wrapper {
    width:700px;
    height: 180px;
    text-align:center;
    margin:20px auto 0 auto;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
    display: flex;
    color:black;
}

.images {
    width:50%;
    height: 180px;
    text-align:center;
    margin:0;
    box-sizing: border-box; 
    padding: 0;
}

.instructions {
    width:50%;
    height: 180px;
    text-align:center;
    margin:0;
    box-sizing: border-box;
    padding:28px 0 0 0;
    font-size: 40px;
}

.currentword {
    width:700px;
    height: 140px;
    text-align:center;
    margin:30px auto 0px auto;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
    font-size:60px;
    color:black;
}

.lettersguessed {
    width:700px;
    height: 140px;
    text-align:center;
    margin:0 auto;
    padding-top: 12px;
    font-family: 'Mina', sans-serif;
    font-size:60px;
    color:black
}

.guessesleft {
    width:700px;
    height: 140px;
    text-align:center;
    margin:0 auto;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
    font-size:60px;
    color: black;
}

.winsandlosses {
    width:700px;
    height: 140px;
    text-align:center;
    margin:0 auto;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
    font-size:60px;
    color: black

}